let greeting = 'hello';
greeting = 'world';
greeting = 3; // Fails

let b: any = 3;
b = 'whatwhat';
b = 2;
b = {};

const c: {firstname: string, age: number} = {
    firstname: 'Nils',
    age: 42,
};
c.firstname = 'Inge';
c.age = 'hmmm'; // Wrong type
c.lastname = 3; // Property not defined
