{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": ["error", 4],
        "no-param-reassign": 0,
        "new-cap": [2, {
            "capIsNew": false,
            "newIsCap": false,
        }],
        "func-names": 0,
    },
    "globals": {
        "document": false,
    }
}
